/* Demo CSS */
html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
}

table {
	font-size: 12px;
}

.container {
	border: 1px solid #000;
	padding: 5px;
	margin: 5px;
}

.bold {
	font-weight: bold;
}

A {
    color: #00aaff;
    text-decoration: none;
}

A:hover {
	color: #0c0c0c;
}

div.page {
	height: 100%;
	padding-left: 15%;
	width: 70%;
}

#cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
	padding: 0;
	margin: 0;
	line-height: 1;
	font-family: 'Capriola', sans-serif;
}

#cssmenu:before, #cssmenu:after, #cssmenu>ul:before, #cssmenu>ul:after {
	content: '';
	display: table;
}

#cssmenu:after, #cssmenu>ul:after {
	clear: both;
}

#cssmenu {
	zoom: 1;
	height: 69px;
	background: url(images/bottom-bg.png) repeat-x center bottom;
	border-radius: 2px;
	width: auto;
}

#cssmenu ul {
	background: url(images/nav-bg.png) repeat-x 0px 4px;
	height: 69px;
}

#cssmenu ul li {
	float: left;
	list-style: none;
}

#cssmenu ul li a {
	display: block;
	height: 37px;
	padding: 22px 30px 0;
	margin: 4px 2px 0;
	border-radius: 2px 2px 0 0;
	text-decoration: none;
	font-size: 15px;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	font-weight: 400;
	opacity: .9;
}

#cssmenu ul li:first-child a {
	margin: 4px 2px 0 0;
}

#cssmenu ul li a:hover {
	background: url(images/color.png) center bottom;
	display: block;
	height: 37px;
	margin-top: 0px;
	padding-top: 26px;
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
	opacity: 1;
}

#cssmenu ul li.active a {
	background: url(images/color.png) center bottom;
	display: block;
	height: 37px;
	margin-top: 0px;
	padding-top: 26px;
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
	opacity: 1;
}

.dev_main{
	height: 100%;
	width: 80%;
	padding-left: 10%;
	padding-top: 20px;
	display: table;
	
}

.dev_column {
    width: 22%;
/*   max-height: 200px; overflow: auto; */ 
  float: left; 
  	padding-left: 10%;
    padding-bottom: 25px;
     display: table;
  }

div.dev_click { 
 	 margin: 20px 10px 40px 40px;
 	padding-top: 5px;
 	padding-left: 20px;
    border-color:#E9E7E4 #4785F8;
border-image:none;
border-radius: 50px 0 50px 0;
-moz-border-radius:50px 0 50px 0;
-webkit-border-radius:50px 0 50px 0;
border-style:solid;
border-width:10px;
width:100%;
height: 230px;
font-family: az_ea_font,wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 13px;
 	} 
 	
 
div.dev_column a {
	 color: #000;
	 width: 100%;
		height: 100%;
	 display: block;
 	} 
 
div.dev_column a:hover {
	color: #4785F8;
 	} 
 
div.dev_click p.dev_name {
	font-family: az_ea_font,wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
	font-size: 15px;
    text-align: center;
    text-decoration: underline;
 	} 

 