.replies {
	height: 100%;
/*	width: 100%; */ 
	display: table-cell;
	
}

.column {
    width: 49%;
/*   max-height: 200px; overflow: auto; */ 
    float: left;
    padding-bottom: 5px;
    height: 100%;
     display: table-cell;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
     font-family: tahoma;
    font-size: 11px;
  }
  
    .portlet-header a{
    color: #00aaff;
    font-weight: bold;
    text-decoration: none;
}


	.portlet-header a:hover {
		color: #0c0c0c;
		text-decoration: underline;
	}
  
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    /* padding: 0.4em; */
    font-family: verdana;
    font-size: 12px;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  
  .content_quote {
    font-family: tahoma;
    font-size: 11px;
    color: #555599;
   /*  background-color: #F1F1F1; */
}
  