.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 12%;
}

ul.resp-tabs-list {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.resp-vtabs {
	margin: 10px;
}

.resp-vtabs .resp-tabs-container {
	background-color: #fff;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	clear: none;
	float: center;
	min-height: 1000px;
 	padding-top: 15px; 
 	padding-left: 15px;
	width: 86%; 
	font-size: 14px;
	display: table;
	height: 100%;
	position: relative;
}

.resp-vtabs li.selected {
	background-color: #fff;
	border-color: #c1c1c1 #71afff;
	border-image: none;
	border-style: solid none solid solid;
	border-width: 1px medium 1px 4px;
	margin-right: -1px !important;
	padding: 14px 15px 15px 12px !important;
	position: relative;
	z-index: 1;
}

.resp-vtabs .resp-tabs-list li {
	cursor: pointer;
	display: block;
	float: none;
	list-style: none outside none;
	margin: 0;
	padding: 15px !important;
}

.resp-tabs-list .tabcontainer {
	width: 100%;
	overflow: hidden;
}

.resp-tabs-list .src_container {
	margin: 0;
	padding: 1px;
	width: 15%;
	float: left;
	text-align: center;
}

.resp-tabs-list .src_container .src {
	font-size: 14px;
	list-style: none outside none;
	margin: 0;
	padding: 1px !important;
}

.resp-tabs-list .user_container {
	font-weight: bold;
	margin: 0;
	padding: 1px;
	float: left;
	width: 100%;
	text-align: left;
}
.resp-tabs-list .user_reply_container {

	text-align: right;
}

.resp-tabs-list .dictgame_container {
	font-weight: bold;
	margin: 0;
	padding: 1px;
	width: 30%;
	float: left;
	text-align: center;
}

.resp-tabs-list .team_vs {
	margin: 0;
	padding: 1px;
	width: 7%;
	float: left;
	text-align: center;
}

.resp-tabs-list .date_container {
	margin: 0;
	padding: 2px;
	padding-top: 5px;
	width: 27%;
	float: left;
	text-align: right;
}

.resp-tabs-list .date_container .date {
	/*     padding-top: 5px; */
	font-size: 13px;
	margin: 2;
}